<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">   
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"  media="screen,projection"/>
  <title>Document</title>
</head>
<body>
  <main>
    <nav>
      <div class="nav-wrapper red darken-4">
        <a href="#" class="brand-logo center">Projeto Zelo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/login/cadastrarUsuario">Cadastra-se</a></li>
          <li><a href="/login/listarUsuario">Usuarios</a></li>
          <li><a href="badges.html">Sair</a></li>
          <li><a href="collapsible.html">Entrar</a></li>
        </ul>
      </div>
    </nav>